@font-face {
    font-family: Monoid;
    src: url(./font/Monoid-Italic.ttf) format("tff"),
         url(./font/Monoid-Bold.ttf) format("tff")
}


body{
    background-color: black;
    margin: 0;
    /* border: 1px solid orange; */
}

.Container{
    margin: auto;
    margin: 3%;
    position: relative;
    /* border: 1px solid orange; */
}

h1{
    color: whitesmoke;
    text-align: center;
    font-family: Monoid;
}
.Intro{
    color: whitesmoke;
    text-align: center;
    font-family: Monoid;
    font-size: 35px;
}


.LeftPostPic{
    display: flex;
    justify-content:space-evenly;
}


.return{
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    text-decoration: none !important;
    color: white;
    font-family: Monoid;
}

.button {
    background-color: whitesmoke;
    border: none;
    color: black;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 35px ;
    position: relative;
    bottom: 0;
}

a:hover {
    color: black;
    background-color: white;
}


.footer{
    text-align: right;
    display:absolute;
    right: 0;
    bottom: 0;
}


